<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="osrs_toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <osrs_toolbox.Properties.Settings>
            <setting name="LastUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastGroupID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastCompetitionID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastHideOthers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastHideZeroGained" serializeAs="String">
                <value>False</value>
            </setting>
        </osrs_toolbox.Properties.Settings>
    </userSettings>
</configuration>